

.list-sp-container {
    gap: 100px;
    
    .card{
        margin-top: 22px;
    }

    button{
        margin-right: 15px;
    }
    
}

.btn-primary-1{
    margin-right: 20px;
}